<button
  popovertarget="locales-list"
  popovertargetaction="toggle"
  id="locales-toggle">
  Lang
</button>

<div id="locales-list" popover="auto">
  <div class="locales-list-wrapper">
    <a href="/es-ES{{ page.url }}">Spanish</a>
    <a href="{{ page.url }}">English</a>
  </div>
</div>

<style>
  /* Button styling */
  .locales-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #locales-toggle {
    width: fit-content;
    padding: 8px;
    margin-inline: 16px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 3px #999;
  }
  #locales-toggle:hover,
  #locales-toggle:focus {
    background: #ccc;
  }
  #locales-toggle:active {
    box-shadow: inset 1px 1px 2px #333
    , inset -1px -1px 2px #eee;
  }

  /* Styling auto popovers */
  [popover="auto"] {
    inset: unset;
    position: absolute;
    top: calc(anchor(bottom) + 20px);
    justify-self: anchor-center;
    margin: 0;
    box-shadow: 1px 1px 3px #999;
    border-radius: 6px;
  }
  [popover="auto"] a {
    border-radius: 6px;
    width: 100%;
    padding: 8px 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  [popover="auto"] a:hover,
  [popover="auto"] a:focus {
    background: #ccc;
  }
  [popover="auto"] a:active {
    box-shadow: inset 1px 1px 2px #333
    , inset -1px -1px 2px #eee;
  }
</style>