---
import { generateRoseyId } from "rosey-connector/helpers/component-helpers.mjs";

const block = Astro.props;
---

<details>
  <summary data-rosey={generateRoseyId(block.heading)}>{block.heading}</summary>
  <div data-rosey={generateRoseyId(block.text)}>
    {block.text}
  </div>
</details>
