---
import { generateRoseyId } from "rosey-connector/helpers/generate-rosey-ids.mjs";

const block = Astro.props;
---

<a
  href={block.src}
  download={block.file_name}
  data-rosey={generateRoseyId(block.link_message)}>
  {block.link_message}
</a>
