---
const block = Astro.props;
---

<video class="py-6" controls>
  <source src={block.src} type="video/mp4" />
  <p data-rosey="video-fallback-message">
    Your browser does not support the video tag.
  </p>
</video>
